@page "/itemlist"
@inject HttpClient httpClient
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager
@using Gas_Station.Shared
@using Microsoft.AspNetCore.Components;
@using System.Net.Http.Json;


<h3>ItemList</h3>

<div class=row>

    <button class="btn btn-primary w-25" @onclick="AddItem">Add</button>

</div>
@if (isLoading)
{
    <p> Loading...</p>
}
else
{
    <div class="table-responsive-md">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Cost</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in itemList)
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.Code</td>
                        <td>@item.Type</td>
                        <td>@item.Cost</td>
                        <td>@item.Price</td>
                        <td>
                            <button class="btn btn-warning " @onclick="() => EditItem(item)">Edit</button>
                            <button class="btn btn-danger " @onclick="() => DeleteItem(item)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    List<ItemListViewModel> itemList = new();
    bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadItemsFromServer();
        isLoading = false;
    }

    private async Task LoadItemsFromServer()
    {
        itemList = await httpClient.GetFromJsonAsync<List<ItemListViewModel>>("item");
    }

     protected async Task AddItem()
    {
        navigationManager.NavigateTo("/itemlist/edit");
    }

    protected async Task DeleteItem(ItemListViewModel item)
    {
        var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Do you want to delete it?");
        if (confirm)
        {
            var response = await httpClient.DeleteAsync($"item/{item.Id}");
            response.EnsureSuccessStatusCode();
            await LoadItemsFromServer();
        }
    }

    protected async Task EditItem(ItemListViewModel item)
    {
        navigationManager.NavigateTo($"/itemlist/edit/{item.Id}");
    }
}
